<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <display-name>Ensar Searcher Web App</display-name>

  <servlet>                                                         
    <servlet-name>WebHomeServlet</servlet-name>
    <servlet-class>im.firat.ensar.swa.WebHomeServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>WebHomeServlet</servlet-name>
    <url-pattern>/webhome</url-pattern>
    <url-pattern>/webhome/</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>WebSearchServlet</servlet-name>
    <servlet-class>im.firat.ensar.swa.WebSearchServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>WebSearchServlet</servlet-name>
    <url-pattern>/websearch</url-pattern>
    <url-pattern>/websearch/</url-pattern>
  </servlet-mapping>
</web-app>
